h2, h3, h4, h5 {
	color: mediumpurple;
	font-family: sans-serif;
}

table, td, th {
	border: 1px solid mediumpurple;
	text-align: center;
}

th {
	color: blue;
	background-color: lightpink;
	font-weight: bold;
}

blockquote {
	background-color: darkolivegreen;
	color: lightgrey;
}

#checkbox-grid{
	list-style: none; 
}

a:hover {
	background-color: lightpink;
	text-decoration: none;
}

#teamRoster ul {
	list-style: square;
}

#teamRoster>li {
	list-style: none;
}

#teamRoster > li:first-child {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
	background-repeat: no-repeat;
}

#teamRoster > li:last-child{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
	background-repeat: no-repeat;
}

#teamRoster img {
	display: none;
}

#teamRoster ol > li:first-child {
	font-weight: bold;
}